<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/product" method="post">
    <input type="text" name="name" placeholder="Nombre del producto"> <br>
    <input type="number" name="price" placeholder="Precio del producto"> <br>
    <input type="submit">
</form>