<form action="/personas" method="post">
    <input type="text" placeholder="Ingrese nombre" name="nombre">
    <input type="text" placeholder="Ingrese apellido" name="apellido">
    <input type="number" placeholder="Ingrese edad" name="edad">
    <input type="submit" value="Enviar">
</form>